<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.mad.Sharecipe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sharecipe"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.main.profile.EditProfileActivity" />
        <activity android:name=".ui.main.profile.UserProfileActivity" />
        <activity android:name=".ui.create.RecipeStepsList" />
        <activity android:name=".ui.create.steps.StepsCreationActivity" />
        <activity android:name=".ui.create.RecipeCreateActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.LoginActivity" />
    </application>

</manifest>